.root {
    -fx-background-color: #222;
    /* -fx-background-radius: 28; */

    -fx-background-color: linear-gradient(to bottom right, #FF7F50, #6A5ACD);
    /* -fx-background-radius: 15 15 25 25; */
    -fx-font-weight: bold;

    -fx-font-family: "Courier New";

}

.mainPane {
    -fx-background-color: linear-gradient(to bottom right, #FF7F50, #6A5ACD);
    /* -fx-background-radius: 15 15 25 25; */
}

.label{
    -fx-text-fill: rgb(255, 74, 104);
    -fx-font-weight: bold;
}

.button{
    -fx-text-fill: rgb(240, 49, 145);
}
.button:hover{
    -fx-background-color: rgb(55, 232, 55);
    -fx-text-fill: white;
}

#myTextField1{
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-font-weight: oblique, 200px;
}

#myTextField2{
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-font-weight: oblique, 200px;
}

#myButton1{
    -fx-background-color: rgb(95, 42, 159);
    -fx-text-fill: white;
}

#myButton1:hover{
    -fx-background-color: rgb(55, 232, 55);
    -fx-text-fill: white;
}

#myButton2{
    -fx-background-color: rgb(95, 42, 159);
    -fx-text-fill: white;
}

#myButton2:hover{
    -fx-background-color: rgb(55, 232, 55);
    -fx-text-fill: white;
}

.highlight {
    -fx-background-color: #00000025;
    -fx-background-radius: 15;
}


